.tbody-contacts{
    display:flex;
    flex-direction:column;
    overflow-y :auto;
    overflow-x :hidden;
    height:470px;
}
.thead-contacts{
    display:flex;
    flex-direction:column;
    overflow-y :auto;
    overflow-x :hidden;
}